/virtenv
/php
/sql
/img
/.idea
/db_od_jana
/jobs
/.openshift
wsgi/templates/*.html~
*.py~
*.pyc
.DS_Store
.openshift/.DS_Store
.openshift/cron/.DS_Store
wsgi/.DS_Store
wordpress_usres_poc.py
pois_from_jano_to_mongo.py
mysql_to_mongo.py
add_labels_to_articles.py
create_user.py
