{% extends "layout.html" %}
{% block body %}
<div id="main" class="container">
    <table class="table table-hover">
      <tr>
        <th>Dátum<br> Od
        <th>Komentár
      {%- for comment in comments %}
      </tr>
      <tr>
        
        <td>{{ comment['date'] }} <br> <b>{{ comment.name }}</b>  </td>
        <td>{{ comment.comment }}</td>
      </tr>
      {%- endfor %}
    </table>
    
    <p>    
    <a class="btn btn-primary" href="/spravy">Pridaj správu</a>
</p>
 
</div>
{% endblock %}
