{% extends "layout.html" %}
{% block body %}
</script>


 <form action="" method=post enctype=multipart/form-data class="form-horizontal">
    <h3>Vyplň prosím základne informácie o tvojej Ceste</h3>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="meno" name="meno" maxlength="24" class="input-xlarge"
            placeholder="Názov mojej skupiny (max. 24 znakov)" value="{{ request.form.meno }}"
            required>
        </div>
    </div>
    
    <div class="control-group">
        <div class="controls">
          <textarea name="text" rows=15 class="input-xlarge" placeholder="O tvojej skupine alebo putovaní" required>{{ request.form.text }}</textarea>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">

             <h5>Pridaj profilovú fotku:</h5>
             <input type="file" name="file" id="fileID"/>

        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <input type="text" id="start_miesto" name="start_miesto" class="input-xlarge"
            placeholder="Kde štartuješ(te)" value="{{ request.form.start_miesto }}"
            required>
        </div>
    </div>
    
    <div class="control-group">
        <div class="controls">
          <input type="number" min="0" max="15" id="number" name="number" class="input-xlarge"
            placeholder="Koľko vás ide? (0 ak nechceš uviesť)" value="{{ request.form.number }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <p><b>Kedy vyrážaš(te)?</b></p>
           <div id="datepicker" class="input-append date">
            <input type="text" id="start_date" name="start_date" class="input-xlarge"
            placeholder="1.8.2014" value="{{ request.form.start_date }}"
            required> <span class="add-on"> <i class="icon-calendar"></i> </span>
            </div>
        </div>
    </div>


<script>
$('#datepicker').datepicker({
    format: "d.m.yyyy",
    todayBtn: "linked",
    language: "sk",
    keyboardNavigation: false,
    forceParse: false,
    autoclose: true,
    todayHighlight: true
});
</script>    


<div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Ulož</button>
        </div>
    </div>
  </form>


{% endblock %}
