{% extends "layout.html" %}
{% block body %}
</script>

<div id="akozacat" class="container" style="text-align: justify">
<h3>Čo ďalej?</h3>


  <div>
    <h4>Náš tip</h4>
    <div>Vytvor spolu s nami databázu "Dôležitých miest"! V Menu hore (3 čiarky vpravo hore) nájdeš "Dôležité miesta" pre pridanie nového miesta.
    Už existujúce miesta si zobrazíš na mape v menu "Mapa"</div>
  </div>


<h4>Nastav si lokalizačné služby a vyskúšaj posielanie správ</h4>
<p>
Dôležité je nastaviť si vo svojom zariadení "Určovanie polohy na základe satelitov GPS" v nastaveniach telefónu, obrázok ako to môže vyzerať máš dole.
Nezabudni, že pri načítaní polohy potebuje tvoje zariadenie <b>priamu viditeľnosť na oblohu</b>.<br><br>
Až to budeš mať môžeš sa pustiť do prvej správy. Choď na stránku <a href="/spravy" target="_blank">Nová správa</a>. Stlač tlačítko "Načítaj z GPS".
Tvoj prehliadač si zažiada o povolenie načítať polohu (obrázok dole). Po odsúhlasení sa ti zobrazia aktuálne súradnice s informáciou o presnosti.
Toto môže trvať až 30sekúnd. Za tento čas by malo tvoje zariadenie dodať presnú polohu. Ak sa to nepodarilo zkontroluj si či máš priamu
viditeľnosť na oblohu a skús to ešte raz.
</p>
<p>
<img src="/static/img/android.png" width="320"></img>
<img src="/static/img/android_gps.png" width="320"></img>
<img src="/static/img/ios.png" width="320"></img>
</p><br>
Až sa ti načíta poloha s dostatočnou presnosťou vypíš text, na začiatok stačí trebarz "Moja prvá správa" a pošli.<br><br>
Presmerujeme ťa na prehľad správ, kde je tvoja správa už zobrazená. Skontroluj si polohu na mape a ak si spokojný(á) <b>máme hotovo</b>.
Ak by nie, stiahni si <a href="/static/img/Live_sledovanie_manual_web.pdf">kompletný návod</a>, kde nájdeš podrobnosti.
<br><br>
<p>
<b>TIP:</b> V teréne sa ti bude stávať, že pokrytie internetom nebude ideálne. Preto odporúčam neposielať originálne fotky,
ktoré maju niekľko MB, ale fotky zmenšiť. Vhodné je na to pouižť appku na zmenšenie veľkosti (resize), skús sa pozrieť a app store a niečo si vybrať.
</p>
<h4>Zobrazenie správ</h4>
<p>
Tvoje správy sa automaticky zobrazia na mape na hlavnej stránke <a href="http://cestasnp.sk">CestaSNP.sk</a> až nastane deň štartu tvojej cesty.
Ak si chceš vysúšak ako sa a či sa zobrazuje správa, nastav si štart sledovania na dnes a pozri sa na CestuSNP.sk.
</p>
<h4>Pošli link svojim kamarátom</h4>
Nezabudni poslať link na <a href="http://cestasnp.sk">CestaSNP.sk</a> rodine, kamarátom a známim, aby ťa mohli počas tvojej
Cesty sledovať a podporiť.<br><br>
<p><b>Veľa šťastaia na Ceste hrdinov SNP a ak by si od nás niečo potreboval(a) ozvi sa na info@cestasnp.sk.</b><br>
<form action="/" method="get" class="display">
        <label for="pridaj" class="btn btn-success"><i class="icon-ok icon-white"></i> OK</label>
        <input id="pridaj" type="submit" class="hidden">
</form>
</script>

</div>

{% endblock %}