<!doctype html>
<title>LIVE SLedovanie</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">

<style>
body {
    padding-top: 60px;
    padding-bottom: 100px;
}
tr.pointer {
   cursor: pointer;
}
form.display {
    display: inline;
    padding-right: 4px;
}
a.ukaz_txt {
    white-space: nowrap;
    padding-right: 4px;
}

input[type="radio"].nie {
    margin-left: 8px;
}

</style>


<link href="/static/bootstrap.css" rel="stylesheet">
<link href="/static/datepicker.css" rel="stylesheet">
<link href="/static/bootstrap-responsive.css" rel="stylesheet"> 
<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap.js"></script>
<script src="/static/bootstrap-datepicker.js"></script>
<script src="/static/locales/bootstrap-datepicker.sk.js"></script>



<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse"
                    data-target=".nav-collapse">
                    <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <a class="brand" href="/">LIVE Sledovanie</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">

                {% if g.user.is_authenticated()%}
                    <li class="active"><a href="/">Všetky správy</a></li>
                    <li><a href="/spravy">Nová Správa</a></li>
                    <li><a href="/mapa">Mapa</a></li>
                    <li><a href="/miesta">Dôležité miesta (beta)</a></li>
                    <li><a href="/comments">Komentáre</a></li>
                    <li><a href="/details_show">O mojej Ceste</a></li> 
                    <li><a href="{{ url_for('logout') }}">Odhlásenie</a></li>
                {% endif %}
                {% if not g.user.is_authenticated()%}
                    <li><a href="/mapa">Mapa</a></li>
                    <li><a href="{{ url_for('login') }}">Prihlásenie</a></li>
                {% endif %}
                        
                        
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
</div>
 
{%- for category, message in get_flashed_messages(with_categories=true) %}
  <p class="flask {{ category }}-flash">{{
    "Error: " if category == 'error' }}{{ message }}</p>
{%- endfor %}
<div id="main" class="container">
    {% block body %}{% endblock %}
    <hr>
    <footer id="footer">
                <p>LIVE Sledovanie (Beta), vytvoril: <a href="http://cestasnp.sk/" target="_blank">CestaSNP.sk</a></p>    
    </footer>
</div>
